.conts
    .container
        .conts__inner
            h2.conts__title Как с нами связаться?
            .conts__phones
                p Телефоны для справок:
                a(href="#").conts__number +38 (050) 123-45-67
                a(href="#").conts__number +38 (050) 123-45-67
                a(href="#").conts__number +38 (050) 123-45-67
                a(href="#").conts__number +38 (050) 123-45-67
                button.conts__button.button Заказать обратный звонок