.faq
    .container
        .faq__inner
            .faq__item
                h3.faq__question Как оплатить билет?
                .faq__answer
                    p Оплатить билет можно двумя способами:
                    p.
                        1. Наличными при посадке в автобус.<br>
                        2. На карту ПриватБанка, реквизиты будут высланы смс-сообщением на номер телефона, после подтверждения брони. 
            .faq__item
                h3.faq__question Как забронировать билет?
                .faq__answer Чтобы забронировать билет, свяжитесь с менеджером по телефону, который указан на сайте или оставьте онлайн-заявку. Заявка на бронирование обрабатывается менеджером, который свяжется с вами для подтверждения.
            .faq__item
                h3.faq__question Можно вернуть билет?
                .faq__answer
                    p Для того, чтобы сдать билет и вернуть деньги, свяжитесь с менеджером по телефону, который указан на сайте.
                    p Возврат средств возможен на карту ПриватБанка или МоноБанка. Деньги будут зачислены в течение суток.
            .faq__item
                h3.faq__question Какие условия возврата билетов?
                .faq__answer 
                    p Сумма возвращается полностью, если вы хотите сдать билет раньше, чем за 24 часа до отправления. Возврат за 12 часов — возвращается 80% стоимости билета. Возврат меньше, чем за 12 часов — возвращается 50% стоимости билета.
                    p Перенос даты отправления: комиссия 0%, но не позже, чем за 12 часов до отправления.
            .faq__item
                h3.faq__question Как узнать дату и время отправления?
                .faq__answer Данные по времени и месту отправления автобуса сообщит диспетчер во время звонка.
            button.faq__button.button Показать все вопросы