extends layout/main

block content
    include ./modules/popups
    .first
        include ./modules/header
        include ./modules/main
    include ./modules/faq
    include ./modules/app
    include ./modules/conts
    include ./modules/footer